[Unit]
Description=Google Drive mount via rclone
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount gdrive: %h/GoogleDrive --vfs-cache-mode full
Restart=on-failure
RestartSec=5

[Install]
WantedBy=hyprland-session.target