* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    font-weight: 800;
    border: none;
    border-radius: 0;
    min-height: 0;
    color: #ffffff;
}

window#waybar {
    background: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* Espacios de trabajo */

#workspaces {
    margin: 0 6px;
    background: transparent;
}

#workspaces button {
    min-width: 25px;
    padding: 0 7px;
    margin: 3px 1px;

    color: rgba(255, 255, 255, 0.60);
    background: transparent;
    border-radius: 6px;
}

#workspaces button:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.10);
}

#workspaces button.active {
    color: #ffffff;
    background: #000000;
}

#workspaces button.urgent {
    color: #000000;
    background: #ffffff;
}

/* Aplicación activa */

#window {
    margin: 0 8px;
    padding: 0 18px;

    color: #ffffff;
    background: transparent;
}

/* Información derecha */

#network,
#pulseaudio,
#cpu,
#custom-gpu,
#memory,
#clock {
    margin: 0 2px;
    padding: 0 9px;

    color: #ffffff;
    background: transparent;
}

#clock {
    margin-right: 8px;
}

#network.disconnected,
#pulseaudio.muted {
    color: rgba(255, 255, 255, 0.45);
}

tooltip {
    background: #080808;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 7px;
}

tooltip label {
    padding: 4px;
    color: #ffffff;
}


#custom-launcher {
    min-width: 28px;
    margin-left: 8px;
    padding: 0 6px;

    font-size: 17px;
    color: #ffffff;
    background: transparent;
}

#custom-launcher:hover {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 6px;
}

#custom-power {
    min-width: 22px;
    padding: 0 7px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 700;
}